img.chat-image,
img.chat-line__message--emote,
img.seventv-emote,
img.bttv-emote,
img.ffz-emote,
.chat-line__message img,
[data-test-selector="chat-line-message-body"] img {
  transform-origin: center center !important;
  margin: 0 6px !important;
  vertical-align: middle !important;
}

.chat-line__message,
[data-test-selector="chat-line-message-body"] {
  line-height: 2.2rem !important;
}

img {
  image-rendering: auto;
}
